* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(img/pexels-alscre-2847648.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(184, 174, 174, 0.1);
    max-width: 500px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #324859;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: lightsalmon;
    background-color: #0056b3;
}

.btn2 a {
    text-decoration: none;
    color: white;
}

.btn2 :hover {
    color: lightsalmon;
}